@import "~bootstrap/scss/bootstrap.scss";

.card {
  width: 18rem;
}

.upSideDown {
  transform: rotate(180deg);
}
.paloa {
  font-size: 5rem;
}
.palob {
  font-size: 5rem;
}
.cardnumber {
  font-size: 8rem;
}

    
